/* style.css*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
header{
    background-image: url(./images/Path.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    height: 110vh;
}

/* Navbar */
nav{
    color: hsl(240, 94%, 13%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;
    z-index: 1;
    /* border-bottom: 1px solid hsl(240, 94%, 13%);  */
}
.logo{
    font-size: 1.5rem;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li a{
    color: hsl(240, 94%, 13%);
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
}
ul li a:hover{
    border-bottom: 2px solid hsl(240, 94%, 13%);
}
ul li a.active {
    border-bottom: 2px solid hsl(240, 94%, 13%);
}
.checkbtn{
    font-size: 30px;
    color: hsl(240, 94%, 13%);
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* navbar */


/* buttons */
button{
    margin: 10px 10px 10px 0px;
}
.blue-btn{
    border: 1.5px solid hsl(240, 94%, 13%);
    background-color: hsl(240, 94%, 13%);
    color: hsl(0, 0%, 100%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Afacad Flux", sans-serif;
    transition: 0.3s;
}
.blue-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(240, 94%, 13%);
}
.white-btn{
    border: 1.5px solid hsl(240, 94%, 13%);
    background-color: transparent;
    color: hsl(240, 94%, 13%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Afacad Flux", sans-serif;
    transition: 0.3s;
}
.white-btn:hover{
    background-color: hsl(240, 94%, 13%);
    color: hsl(0, 0%, 100%);
}
/* buttons */


@media screen and (max-width: 768px){
    nav{
        padding-top: 20px;
    }
    .checkbtn {
        display: block;
        order: 1;
        margin-right: 20px;
    }
  
    ul{
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: #E7ECFF;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
  
    ul li{
        margin: 20px 0;
    }
  
    ul li a{
        font-size: 20px;
    }
  
    #check:checked ~ ul{
        right: 0;
    }
}

/* hero section */
.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px 50px;
}
.left-hero{
    width: 35%;
}
.right-hero{
    width: 30%;
}
.right-hero-img{
    width: 100%;
}


@media screen and (max-width: 768px){
    header{
        height: fit-content;
    }
    .hero-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
    .left-hero{
        width: 100%;
        text-align: justify;
        padding: 30px;
    }
    .right-hero{
        width: 100%;
    }
}

.first-section{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.first-section-left{
    width: 45%;
}
.first-section-right{
    width: 40%;
}
.first-section-img{
    width: 100%;
}
.first-section-left-top{
    margin-bottom: 20px;
}
.first-section-left-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section-left-bottom-one{
    width: 48%;
}
.first-section-p{
    font-size: 12px;
}
.first-section-left-top-p{
    font-size: 16px;
}
.first-section-icon-div{
    width: 10%;
}
.first-section-icon{
    width: 100%;
}

@media screen and (max-width: 768px){
    .padding{
        padding: 50px 0 0 0;
    }
    .first-section-left{
        width: 100%;
    }
    .first-section-right{
        width: 100%;
    }
    .first-section-img{
        width: 100%;
    }
    .first-section-left-top{
        margin-bottom: 20px;
    }
    .first-section-left-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .first-section-left-bottom-one{
        width: 48%;
    }
    .first-section-p{
        font-size: 12px;
    }
    .first-section-left-top-p{
        font-size: 16px;
    }
    .first-section-icon-div{
        width: 10%;
    }
    .first-section-icon{
        width: 100%;
    }
}

.bottom-section{
    background-color: rgb(231 236 255 / 50%);
    text-align: center;
    padding: 50px 350px;

}

@media screen and (max-width: 768px){
    .bottom-section{
        padding: 40px;
    }
}

footer{
    background-color: #E7ECFF;
    padding: 40px 0;
}
.top-footer, .bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
hr{
    width: 80%;
    margin: 30px auto;
}
.fab{
    padding: 20px;
}
.footer-a{
    color: hsl(240, 94%, 13%);
    text-decoration: none;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .top-footer, .bottom-footer{
        width: 90%;
        flex-direction: column;
    }
    hr{
        width: 90%;
        margin: 30px auto;
    }
    
}